<!DOCTYPE html>
<html lang="en">

<head>
  <%= VUE_APP_EJS_OPEN_TAG %>- include('../partials/html/html_head.ejs'); <%= VUE_APP_EJS_CLOSE_TAG %>
</head>
<body>
  <%= VUE_APP_EJS_OPEN_TAG %>- include('../partials/html/html_body_scripts.ejs'); <%= VUE_APP_EJS_CLOSE_TAG %>
  <!-- built files will be auto injected -->
</body>

</html>